#chat{
   display: flex;
   justify-content: center;
   align-items: center;
}

#chat .chat-container{
   width: 90%;
   height: 90%;
   background-color: var(--color-primary);
   border-radius: 5px;
   display: flex;
   border: 2px solid var(--color-primary-tint);
}

#chat .friends-container{
   display: flex;
   flex-direction: column;
   width: 15rem;
   background-color: var(--color-primary-tint);
   position: relative;
}

#chat .friends-container .user-info-container{
   position: absolute;
   bottom: 0;
   padding: 0.4rem;
}

#chat .friends-container .user-details-wrapper img{
   width: 3.5rem;
   height: 3.5rem;
   border-radius: 50%;
   object-fit: cover;
}
#chat .friends-container .user-details-wrapper{
   display: flex;
   gap: 0.4rem;
}
#chat .friends-container .username{
   padding: 0.2rem;
   color: white;
}


#chat .messages-container{
   flex: 4;
   background-color: var(--color-primary-shade);
}