:root{
   --chat-padding-top: 0.4rem;
}

#chat{
   display: flex;
   justify-content: center;
   align-items: center;
}

#chat .chat-container{
   max-width: 60rem;
   max-height: 40rem;
   width: 90%;
   height: 90%;
   border-radius: 5px;
   display: grid;
   grid-template: 1fr max-content / max-content 1fr;
   border: 2px solid var(--color-primary-tint);
}

#chat .friends-container{
   display: flex;
   flex-direction: column;
   width: 15rem;
   background-color: var(--color-secondary-tint);
}

#chat .user-info-container{
   display: flex;
   padding: var(--chat-padding-top) 0.5rem;
   background-color: var(--color-secondary);
   width: 100%;
   grid-row: 2;
}

#chat .user-details-wrapper img{
   width: 3.5rem;
   height: 3.5rem;
   border-radius: 50%;
   object-fit: cover;
}
#chat .user-details-wrapper{
   display: flex;
   gap: 0.4rem;
}
#chat .friends-container .username{
   padding: 0.2rem;
   color: white;
}