@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
   margin: 0;
   box-sizing: border-box;
   color: var(--color-text);
   font-family: 'Source Sans Pro', sans-serif;
}

:root{
   --color-primary: #36393f;
   --color-primary-tint: #40444b;
   --color-primary-shade: #292b2f;

   --color-secondary: #292b2f;
   --color-secondary-tint: #2f3136;

   --color-third: #36393f;
   --color-third-tint: #40444b;

   --color-text: #ccd0cf;
}

.checkbox-style{
   width: 1rem;
   height: 1rem;
   accent-color: var(--color-primary-shade);
}