@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
   margin: 0;
   box-sizing: border-box;
   color: var(--color-text);
   font-family: 'Source Sans Pro', sans-serif;
}

:root{
   --color-primary: #36393f;
   --color-primary-tint: #40444b;
   --color-primary-shade: #292b2f;

   --color-text: #ccd0cf;
}