#root, html, body {
   display: flex;
   flex-direction: column;
   height: 100%;
}

section{
   background-color: var(--color-primary-shade);
   height: 100%;
}

nav{
   display: flex;
   justify-content: center;
   gap: 0.5rem;
   padding: 0.5rem;
   background-color: var(--color-primary);
}
nav a{
   text-decoration: none;
   user-select: none;
}
nav a:hover{
   color: white;
}